<div class="card base head">
    <div class="card-body">
        <div style = "display:flex; padding-bottom: 20px;">
            <img src = "" width = "200" height = "200" style = "border-radius: 400px; border: 2px solid black;">
            <h3 class="card-title" style = "padding-bottom:auto; padding-left: 25px;">Pavan kumar V</h3>
        </div>

        <!-----this basic template we can add compoentns insdie this ---->
        <div class="card base-compoent">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Body</p>
                <app-form></app-form>
            </div>
        </div>
        
        
    </div>
</div>
