/* base.component.css */
.head {
    margin:45px;
    background-image: url('../../assets/images/neom.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:800px ; 
    border-radius: 2em ; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border:none ; 
  }

  .head:hover{
    transform: scale(1.05); 
  }

  .base-component{
    background-color: rgba(255, 255, 255, 0.7);
  }